@font-face {
    /* define custom font */
    font-family: bold-robo;
    src: url(assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    /* define custom font */
    font-family: light-robo;
    src: url(assets/fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: jost;
    src: url(assets/fonts/Jost-Bold.ttf);
}

@font-face {
    font-family: popp;
    src: url(assets/fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: popp-bold;
    src: url(assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: semibold-popp;
    src: url(assets/fonts/Poppins-SemiBold.ttf);
}

/* colors */
:root {
    --purple: #4D2C5E;
}

:root {
    --orng: #ff7647;
}

/* Hero Section  */
.hero , .nav-bg-clr{
    background-color: #FDF8EE;
    background-size: cover;
    background-position: center;
    height: 100%;
}

/* Sign-in button radius  */
.btn-radius {
   
    background-color: var(--purple);
}

/* nav-bar items color  */
.navbar-light .navbar-nav .nav-link {
    color: black;
}

/* font of brand name on the nav bar  */
.roboto-brand {

    font-family: bold-robo;
    font-size: 30px;
}

/* font style for nav-items  */
.roboto {
    font-family: bold-robo;
    font-size: 18px;
}

/* Sign-in button background color  */
.signin-clr {
    background-color: var(--purple);
    font-family: light-robo;
}

/* CSS for pre-line wrapping */
.preline {
    white-space: pre-line;
}

/* text color of main heading */
.smart {
    color: #050C26;
}

/* text color of specific words in main heading  */
span {
    color: #ff7647;
}

/* color of paragraph in main description  */
.p-clr {
    color: #8A8A8A;
}

/* style for location input field  */
.location {
    padding: 26px 0px 26px 17px;
}

/* style for seach icon within input  */
.search-icon {
    position: absolute;
    left: 29px;
    top: 227px;
}


/* width of main img  in the hero section   */
.hero-img {
    /* height: 100%; */
    width: 87%;
}

/* --------------------------------------------------------------------------------- */
/* Offers section  */

/* background color of  offers section  */
.offers {
    position: relative;
    bottom: 86px;
}

.offer-clr {
    background-color: var(--purple);
    border-radius: 15px;
}

/* blur background color of offers pics */
.offers-pic {
    border-radius: 27px;
    padding: 14px 14px 14px 14px;
    background-color: #71557E;
}

/* paragraph color in offers  */
.text-clr {
    color: rgba(255, 255, 255, 0.6);

}

/* --------------------------------------------------------------------------------- */

/* Tracks Section  */
/* track heading custom font   */
.track-hd {
    font-family: jost;
}

/* Track paragraph custom font  & color*/
.track-p {
    font-family: popp;
    color: rgba(138, 138, 138, 1);
}

/* code of cards in tracks section  */
/* padding to cards and space between them */
/* and shadow  */
.card-pad {
    padding: 13px;
    border-radius: 14px;
    box-shadow: 2px 3px 7px 7px rgba(138, 138, 138, 0.308)
}

/* paragraph ui/ux  */
.ui-ux-p,
.detail {
    color: rgba(138, 138, 138, 1);
}

/* deatil like duration courses and sales  */
.detail {
    font-size: 13px;
}

/* color of 98$ in detail   */
.dollar {
    color: var(--orng)
}

/* styles of join course btn  */
.btn-clr {
    width: 100%;
    background-color: var(--orng);
    font-family: bold-robo;
    border-radius: 14px;
    padding: 10px 15px 10px 15px;
}

/* ------------------------------------------------------------------------------------ */

/* Premium Section  */
/* premium bg image  */
.premuim-bg {
    background-image: url(assets/imgz-icons/premium-bg.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}

/* girl img in premium section  */
.premium-girl {
    width: 67%;
}

/* main heading in .premium section  */
.pre-heading {
    font-family: bold-robo;
}

.premium-p {
    color: rgba(138, 138, 138, 1);
}

/* h5 under main heading  */
.accessible {
    font-family: bold-robo;

}

/* styling for heart and jigsaw icons */
.hearts {
    border-radius: 30px;
    padding: 14px;
    background-color: var(--purple);
}

/* position for adjusting text with icons */
.position-relative {
    bottom: 12px;
    left: 26px;
}

/* ---------------------------------------------------------------------------------------- */
/* Student review Section  */
/* color to the student review paragraphs */
.st-p {
    color: rgba(172, 172, 172, 1);
}

/* -------------------------------------------------------------------------------------------- */
/* Professor Section  */
/* Professor section used the code of track section  as a reference point*/
/* ------------------------------------------------------------------------------------------------ */
/* NewsLetter Section  */
.letter-bg-clr {
    background-image:  linear-gradient(347deg, #0f059b98, #541a70a9, #29676a);
    border-radius: 10px;
}
.email-input{
    padding: 24px 10px 24px 15px;
}
.send-btn {
    padding: 0 20px 0 20px;
    background-color: var(--orng);
}

/* ------------------------------------------------------------------------------------ */
/* Footer Section  */
.foot {
    background-image: url(assets/imgz-icons/footer-bg.png);
    background-size: cover;
    background-position: center;
    height: 100%;
}

/* ----------------------------------------------------------------------------------------- */
/* Contact us section  */
.con-heading {
    font-family: popp-bold;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.199);
}

.con-para {
    color: #717171;
    font-family: popp;
}

.live-chat {
    background-color: var(--purple);

    border-radius: 10px;
}

.info {
    font-family: semibold-popp;
}

.say-some {
    color: #C9C9C9;
    font-family: popp;
}

.conte {
    border-radius: 10px;
}

.btn-send {
    float: right;
}
/* ---------------------------------------------------------------------------------------------- */
/* Courses section  */
.info-bg{
    border-radius: 20px;
    background-image: linear-gradient(274deg, #ba56ec98, #541a70a9,  #4D2C5E);
}
.contact-btn{
    border-radius: 20px;
    background-color: var(--orng);
    width: 58%;
}
.map{
    border-radius: 20px;
    width: 100%;
    height: 290px;
}


/* Media Queries For Resposiveness */
@media screen and (max-width:1022px){
    .offers{
        position: static;
    }
   
}


/* MQ at md  */
@media screen and (max-width:768px) {

    /* to hide .search-icon at 768 */
    .search-icon {
        display: none;
    }

    /* padding for moving the main heading and paragraph to left  */
    .p-left {
        padding-left: 62px;
    }

    .font-size {
        font-size: 15px;
    }
}

@media screen and (max-width:575px){
    .static-position{
        position: static !important;
    }
}

/* MQ for perfect mobile view  */
@media screen and (max-width:400px) {
.roboto-brand {
        font-size: 20px;
    }

    /* for pushing the main description to the left  */
    .p-left {
        padding-left: 16px;
    }

    .position-relative {
        bottom: 22px;
        left: 15px;
    }

    .pre-heading {
        font-size: 2rem;
    }

    .btn-send {
        width: 100%;
    }

}